@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lexend Deca', sans-serif;
}

/* .skill-name {
    transition: all .3s;
} */

.skill-block:hover .skill-name {
    left: 70%;
}

.skill-block:hover .skill-logo {
    left: 30%
}

.skill-logo {
    left: 50%;
    transition: all .3s ease-out;
}

.skill-name {
    left: 50%;
    transition: all .3s ease-out;
}